@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.background {
  background: linear-gradient(to bottom, #030712 0%, #030712b6 50%, #030712 90%),
    url('/assets/hero.jpg') no-repeat;
  background-position: center;
  background-size: cover;

}

.projects:hover>div {
  display: grid;

}