@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.background {
  background: radial-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.85)),
    url('/assets/hero.png') no-repeat;
  background-position: center;
  background-size: cover;

}

.projects:hover>div {
  display: grid;

}